.landing {
  @media (max-width: 675px) {
    .landing-header {
      img {
        margin-right: 0px;
        margin-bottom: 25px;
      }
      .landing-header-text {
        text-align: center;
      }
    }

    .landing-content {
      .marketing-items {
        display: block;
        padding-bottom: 10px;
        .marketing-item {
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }
  }

  .landing-header {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    img {
      height: 225px;
      width: 225px;
      margin-right: 35px;
    }

    .landing-header-text {
      padding-bottom: 25px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .brand {
        font-size: 55px;
        font-weight: bold;
      }

      .tagline {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .landing-content {
    padding-top: 25px;

    th {
      font-size: 25px;
      font-family: "Nike TG","Helvetica Neue",Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      width: 33%;
    }

    td {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }

    table {
      margin-bottom: 40px;
    }

    h2 {
      margin-top: 30px;
    }
  }

  .marketing-items {
    background-color: $ncss_black;
    color: $ncss_white;

    padding-top: 15px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    .marketing-item {
      border-radius: 5px;

      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;

      padding: 8px;

      display: flex;
      flex-direction: column;
      flex-basis: 25%;

      .marketing-item-label {
        color: $snkrs_accent;
        font-size: 35px;
        font-weight: bold;
      }

      .marketing-item-text {
        font-size: 18px;
        padding-bottom: 10px;
      }

      .marketing-btn {
        margin-top: auto;
        width: 50px;
        padding: 0;
      }

      .g72-arrow-thick-right {
        margin-left: 8px;
      }
    }
  }

  .landing-content-text {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.content-landing .content-container {
  padding-left: 0px!important;
  padding-right: 0px!important;
}