---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$ncss_black: #111;
$ncss_accent: #3498DB;
$ncss_white: #FFF;
$ncss_off_white: #F7F7F7;
$ncss_grey: #8D8D8D;
$ncss_dark_grey: #222222;
$ncss_medium_grey: #DDDDDD;
$ncss_light_grey: #E5E5E5;
$ncss_success: #48BD1F;
$ncss_error: #FE0000;
$snkrs_accent: #FA5400;

$break-small: 660px;

@import "header";
@import "footer";
@import "landing";
@import "content";
@import "components";
@import "documentation";
@import "news";
@import "prism";

html body {
  background-color: $ncss_black;
  color: $ncss_off_white;
}

.github {
  background: url('../images/github-offwhite100px.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slack {
  background: url('../images/slack-offwhite100px.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.stack-overflow {
  background: url('../images/stack-overflow-offwhite100px.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.twitter {
  background: url('../images/twitter-logo-offwhite100px.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.nike-oss {
  background: url('../images/nike-oss-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}