<div class="footer">
    <div class="footer-container">
        <div class="column">
            <p>The contents of this website are © 2016 under the terms of the <a target="_blank" onclick="trackOutboundLink('https://github.com/Nike-Inc/cerberus/blob/master/LICENSE.md')" href="https://github.com/Nike-Inc/cerberus/blob/master/LICENSE.md">Apache 2 License.</a></p>
            <p>You can view the source on <a target="_blank" onclick="trackOutboundLink('https://github.com/nike-inc/cerberus')" href="https://github.com/nike-inc/cerberus">Github</a>.</p>
        </div>
        <div class="column">
            <h4><a target="_blank" onclick="trackOutboundLink('http://about.nike.com/')" href="http://about.nike.com/">About Nike</a></h4>
            <ul>
                <li><a target="_blank" onclick="trackOutboundLink('http://jobs.nike.com/')" href="http://jobs.nike.com/">Careers</a></li>
                <li><a target="_blank" onclick="trackOutboundLink('http://investors.nike.com/')" href="http://investors.nike.com/">Investors</a></li>
                <li><a target="_blank" onclick="trackOutboundLink('http://jobs.converse.com/')" href="http://jobs.converse.com/">Converse Culture & Careers</a></li>
                <li><a target="_blank" onclick="trackOutboundLink('http://www.nike.com/us/en_us/c/sustainability')" href="http://www.nike.com/us/en_us/c/sustainability">Sustainable Innovation</a></li>
            </ul>
    
        </div>
        <div class="column">
            <h4>Help Resources</h4>
            <ul>
                <li><a target="_blank" onclick="trackOutboundLink('https://github.com/Nike-Inc')" href="https://github.com/Nike-Inc">Github</a></li>
                <li><a target="_blank" onclick="trackOutboundLink('http://stackoverflow.com/questions/tagged/cerberus')" href="http://stackoverflow.com/questions/tagged/cerberus">Stack Overflow</a></li>
            </ul>
        </div>
        <div class="column">
            <a target="_blank" onclick="trackOutboundLink('http://engineering.nike.com/')" href="http://engineering.nike.com/"><div class="nike-oss"></div></a>
        </div>
    </div>
</div>