<div class="header">
    <div class="top">
        <div class="top-container">
            <div class="branding">
                <a href="/cerberus/"><div class="logo-image"></div></a>
                <div class="logo-text u-uppercase"><a href="/cerberus/">Cerberus |</a></div>
                <div class="logo-sub-text u-uppercase">Secure property store for cloud applications</div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="menu">
            {% assign breadCrumb = page.url | split: '/' %}
            {% assign pageArea = breadCrumb[1] %}

            {% if page.title == "Home" %}
                <a class="u-uppercase selected" href="/cerberus/">Home</a>
            {% else %}
                <a class="u-uppercase" href="/cerberus/">Home</a>
            {% endif %}

            {% if pageArea == "components" %}
                <a class="u-uppercase selected" href="/cerberus/components/">Components</a>
            {% else %}
                <a class="u-uppercase" href="/cerberus/components/">Components</a>
            {% endif %}

            {% if pageArea == "docs" %}
                <a class="u-uppercase selected" href="/cerberus/docs/">Docs</a>
            {% else %}
                <a class="u-uppercase" href="/cerberus/docs/">Docs</a>
            {% endif %}
        </div>
    </div>
</div>
