<div class="landing">
    <div class="landing-header">
        <img src="/cerberus/images/cerberus-logo-white-on-transparent.svg" alt="Cerberus Logo" />
        <div class="landing-header-text ncss-brand">
            <div class="brand u-uppercase">Cerberus</div>
            <div class="tagline u-uppercase">Secure Property Store For Cloud Applications</div>
        </div>
    </div>
    <div class="landing-content">
        <div class="marketing-items">
            <div class="marketing-item">
                <div class="marketing-item-label ncss-brand u-uppercase">Secure</div>
                <div class="marketing-item-text ncss-brand">Encrypts secrets, provides role-based access for users and applications.</div>
                <a href="docs/" class="marketing-btn u-uppercase ncss-btn-black ncss-brand pt2-sm pr5-sm pb2-sm pl5-sm">Learn More<div class="g72-arrow-thick-right"></div></a>
            </div>
            <div class="marketing-item">
                <div class="marketing-item-label ncss-brand u-uppercase">Easy to Use</div>
                <div class="marketing-item-text ncss-brand">Manage your properties and access control using the self-service web UI.</div>
                <a href="docs/user-guide/dashboard" class="marketing-btn u-uppercase ncss-btn-black ncss-brand pt2-sm pr5-sm pb2-sm pl5-sm">Learn More<div class="g72-arrow-thick-right"></div></a>
            </div>
            <div class="marketing-item">
                <div class="marketing-item-label ncss-brand u-uppercase">Cloud Native</div>
                <div class="marketing-item-text ncss-brand">Self-healing and failure indifferent.  Automated provisioning with edge security and IAM integration.</div>
                <a href="docs/architecture/infrastructure-overview" class="marketing-btn u-uppercase ncss-btn-black ncss-brand pt2-sm pr5-sm pb2-sm pl5-sm">Learn More<div class="g72-arrow-thick-right"></div></a>
            </div>
        </div>
        <div class="landing-content-text">
            <h1>Getting Started is Easy</h1>
            <p>
                <a href="docs/administration-guide/creating-an-environment">Setup a Cerberus environment</a> using the
                <a href="docs/administration-guide/lifecycle-management-cli">CLI</a> and then quickly
                <a href="docs/user-guide/quick-start">begin using it</a>.
            </p>
        </div>
    </div>
</div>